<template name="postSubmit">
  <form class="main form">
    <!-- Category -->
    <div class="form-group">
      <label class="control-label" for="url">Category</label>
      <div class="controls">
          <input name="category" id="category" type="text" value="" placeholder="Category" class="form-control"/>
      </div>
    </div>
    <!-- Sub-Category -->
    <div class="form-group">
      <label class="control-label" for="url">Sub-Category</label>
      <div class="controls">
          <input name="subCategory" id="subCategory" type="text" value="" placeholder="Sub-Category" class="form-control"/>
      </div>
    </div>
    <!-- Title -->
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
      </div>
    </div>
    <!-- Start Time -->
    <div class="form-group">
      <label class="control-label" for="title">Start Time</label>
      <div class="controls">
          <input name="startTime" id="startTime" type="text" value="" placeholder="Start Time" class="form-control"/>
      </div>
    </div>
    <!-- End Time -->
    <div class="form-group">
      <label class="control-label" for="title">End Time</label>
      <div class="controls">
          <input name="endTime" id="endTime" type="text" value="" placeholder="End Time" class="form-control"/>
      </div>
    </div>
    <!-- Address -->
    <div class="form-group">
      <label class="control-label" for="title">Address</label>
      <div class="controls">
          <input name="address" id="address" type="text" value="" placeholder="Address" class="form-control"/>
      </div>
    </div>
    <!-- District -->
    <div class="form-group">
      <label class="control-label" for="title">District</label>
      <div class="controls">
          <input name="district" id="district" type="text" value="" placeholder="District" class="form-control"/>
      </div>
    </div>
    <!-- City -->
    <div class="form-group">
      <label class="control-label" for="title">City</label>
      <div class="controls">
          <input name="city" id="city" type="text" value="" placeholder="City" class="form-control"/>
      </div>
    </div>
    <!-- X-Baidu -->
    <div class="form-group">
      <label class="control-label" for="title">X-Baidu</label>
      <div class="controls">
          <input name="xBaidu" id="xBaidu" type="text" value="" placeholder="X-Baidu" class="form-control"/>
      </div>
    </div>
    <!-- Y-Baidu -->
    <div class="form-group">
      <label class="control-label" for="title">Y-Baidu</label>
      <div class="controls">
          <input name="yBaidu" id="yBaidu" type="text" value="" placeholder="Y-Baidu" class="form-control"/>
      </div>
    </div>
    <!-- Introduction -->
    <div class="form-group">
      <label class="control-label" for="title">Introduction</label>
      <div class="controls">
          <input name="introduction" id="introduction" type="text" value="" placeholder="Introduction" class="form-control"/>
      </div>
    </div>
    <!-- Photo -->
    <div class="form-group">
      <label class="control-label" for="title">Photo</label>
      <div class="controls">
          <input name="photo" id="photo" type="text" value="" placeholder="Photo" class="form-control"/>
      </div>
    </div>
    <!-- Video -->
    <div class="form-group">
      <label class="control-label" for="title">Video</label>
      <div class="controls">
          <input name="video" id="video" type="text" value="" placeholder="Video" class="form-control"/>
      </div>
    </div>
    <!-- Sound -->
    <div class="form-group">
      <label class="control-label" for="title">Sound</label>
      <div class="controls">
          <input name="sound" id="sound" type="text" value="" placeholder="Sound" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
