<template name="postSubmit">
  <form class="main form">

    <!-- Title -->
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Name your record" class="form-control"/>
      </div>
    </div>

    <!-- Address -->
    <div class="form-group">
      <label class="control-label" for="title">Address</label>
      <div class="controls">
          <input name="address" id="address" type="text" value="" placeholder="Address" class="form-control"/>
      </div>
    </div>

    <!-- Submit button -->
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
